n8n-cve-monitor/CVE Security Monitor.json
{
  "name": "CVE Security Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4f65d974-bdee-4ed0-be14-00ecd3ab65eb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0?resultsPerPage=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "237d552c-15b5-462a-9c75-bf7a9eaf39cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ead28e7-42bf-43a3-9b62-8def9b3980de",
              "name": "CVE_Count",
              "value": "={{ $json.totalResults }}",
              "type": "string"
            },
            {
              "id": "e5c8483a-4635-436c-9cc2-f551644b4a67",
              "name": "Check_Time",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "5bc9fc37-3692-4b9c-a513-8d88ee28d094",
              "name": "Status",
              "value": "CVE Check Complete",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "153bc3c5-0fc1-46a3-bc9e-6f21223f62df",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df65edd2-f383-486a-8b2f-1bd0fd21f7bc",
  "meta": {
    "instanceId": "49f98f1d49bc21697cbb269cc1d86791e42d721c4fd77dfd5321621b29423f33"
  },
  "id": "h6wQbi13SJa2ds1n",
  "tags": []
}